# Create a .env file with these contents but replace the password

POSTGRES_USER=puzzletok
POSTGRES_PASSWORD=password
POSTGRES_DB=puzzletok
DATABASE_URL=postgres://puzzletok:password@localhost:5432/puzzletok